* {
  margin: 0;
}

body {
  background-color: rgb(179, 218, 205);
}

h1 {
  color: #3f7cc2;
  font-size: 48px;
  margin: 45px 0;
  text-align: center;
}

.blog-post {
  width: 450px;
  margin: 0 auto;
  background-color: rgba(236, 236, 236, 0.575);
  padding: 1.6rem;
}

h2 {
  color: #104c90;
  font-size: 32px;
}

img {
  width: 100%;
  margin: 10px 0 25px 0;
}

p {
  font-size: 16px;
  margin-bottom: 9px;
  line-height: 1.2rem;
}

a {
  color: #d86d01;
  font-weight: bold;
}

a:hover,
a:focus {
  color: firebrick;
}

footer {
  margin-top: 2rem;
  text-align: center;
}
